 #headerT{
	background-color: #0000FF;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Add a black background color to the top navigation */
.topnav{
  position: relative;
  background-color: #4CAF50;
  overflow: hidden;
} 

/* Style the links inside the navigation bar */
.topnav {
  float: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hoover */

.topnav a:hoover {
  background-color: yellow;
  color: purple;
}

/* Add a color to the active current/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Initializing footer */
footer{
position: fixed;
bottom: 0;
width: 100%;
}

/*Defining footer as a class */
.footer {
color:#0000FF;
height: 100px;
margin: auto;
text-align: center;
}


